*{
    font-family: "Trebuchet MS";
    padding: 0;
    margin: 0;
}

.main{
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: 800;
}

.main p{
    font-size: 25px;
}

.main img {
    width: 300px; 
    height: auto;
}

.body {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.body li {
    padding-bottom: 10px;
    font-weight: 550;
}